html {
    font-size: 62.5%;
    overflow-y: scroll; 
 }
 
 /* MAIN ELEMENTS */
 
 body {
    margin: 0;
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    font-size: 2rem;
    line-height: 1.7;
 }
 
 header {
    display: flex; 
    flex-direction: column; 
    padding: 5rem 7rem; 
    background-color: #f8d410; 
    font-size: 3rem; 
    text-align: center; 
 }
 
 h2 {
    font-weight: normal; 
 }
 
 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 li {
    padding-top: 3rem; 
 }
 
 a {
    text-decoration: none;
    color: #800080;
 }
 
 a:hover {
    color: red; 
 }
 
 /* IDS */
 
 /* Header */
 #navigation-links {
    display: flex; 
    justify-content: space-between;
    font-size: 3.5rem; 
 }
 
 /* Chapter Text */
 #exercise-problems .panel {
    display: flex; 
    flex-direction: column; 
    margin: 2rem;
    padding: 2rem; 
    border : solid 1px #f8d410;
  }
 
 #exercise-problems .header {
    display: flex; 
    justify-content: flex-start; 
    margin-left: 2rem; 
    color: #800080; 
    font-size: 2rem;
 }
 
 #exercise-problems .header:hover {
    color: #F00; 
    cursor: pointer; 
 }
  
 #exercise-problems .body {
    display: none;
 }
 
  #exercise-problems .active .body {
    display : flex;
    flex-direction: column; 
    justify-content: flex-start; 
    margin: auto 2.5rem;
    padding: 0.5rem; 
 }
 
  /* Navbar */
  #navbar-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
 }
 
 #navbar-section-3rd-Ed {
    padding: 5rem;
    transition: background-color 0.3s ease-out;
 }
 
 #navbar-section-3rd-Ed:hover {
    background-color: #f8d410;
 }

 /* CLASSES */ 

.close p {
   align-self: center;
   font-size: 4rem;
   cursor: pointer;
}

.close:hover {
   color: red; 
}
 
 /* MEDIA QUERY */
 
 @media only screen and (max-width: 600px) {
    body {
        font-size: 1.7rem; 
    }
 
    header {
       padding: 2rem 3rem; 
       font-size: 2rem; 
    }
 
    h2 {
       font-size: 2.5rem; 
    }
 
    #navigation-links {
       font-size: 2.5rem; 
    }
 
    .code-toolbar {
       font-size: 1.4rem; 
    }
 }