/*MAIN ELEMENTS */

html {
    font-size: 62.5%;
    overflow-y: scroll; 
}    

body {
    margin: 0;
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    font-size: 2rem;
}

header {
    padding: 7rem 5rem; 
    font-size: 3rem; 
    background-color: #f8d410; 
    text-align: center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 3rem; 
}

a {
    text-decoration: none;
    color: purple; 
}

a:hover {
    color: red; 
}

#chapter1-text {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding-top: 7rem;
}

#navbar-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
}

#navbar-section-3rd-Ed {
    padding: 5rem;
    transition: background-color 0.3s ease-out;
}

#navbar-section-3rd-Ed:hover {
    background-color: #f8d410;
}