html {
    font-size: 62.5%;
    overflow-y: scroll; 
}    

/*MAIN ELEMENTS */

body {
    margin: 0;
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    font-size: 2rem;
}

header {
    padding: 5rem 7rem; 
    background-color: #f8d410;
    font-size: 3rem; 
    text-align: center;
}

header a {
    font-size: 3.5rem; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 3rem; 
}

a {
    text-decoration: none;
    color: #800080; 
}

a:hover {
    color: #F00; 
}

/* IDS */

/* Header */
#navigation-links {
    display: flex; 
    justify-content: flex-end;
}

/* Chapter Text */ 
#chapter1-text {
    display: flex; 
    flex-direction: column; 
    padding-top: 7rem;
    text-align: center; 
}

/* Navbar */
#navbar-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
}

#navbar-section-3rd-Ed {
    padding: 5rem;
    transition: background-color 0.3s ease-out;
}

#navbar-section-3rd-Ed:hover {
    background-color: #f8d410;
}