html { 
    font-size: 62.5%; 
    overflow-y: scroll; 
}

:root {
    --main-color: #f8d410; 
}

/**** ELEMENT ****/

body { 
    margin: 0; 
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif; 
    font-size: 1.5rem; 
}

header { 
    max-width: 100%; 
    margin: 0 auto; 
    padding: 1rem 2rem; 
    background-color: var(--main-color); 
    font-size: 1.3rem; 
    text-align: start; 
}

ul { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
}

li { 
    padding-top: 3rem; 
}

a { 
    color: #800080; 
    text-decoration: none; 
}

a:hover { 
    color: #F00; 
}

/**** CLASS ****/

.flex-column { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Resource Links */

.container-resources { 
    position: relative; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10rem; 
}

.container-resources section { 
    position: relative; 
    align-items: center; 
    justify-content: center; 
    margin: 2rem; 
}

.img-book { 
    width: 100%; 
    height: 100%;
    align-items: center; 
    justify-content: center; 
    margin: 0; 
}

.book-links { 
    position: absolute; 
    display: flex; 
    opacity: 0; 
}

.book-links div { 
    width: 15rem; 
    margin-bottom: 1rem; 
    padding: 2rem; color: #fff; 
    background-color: rgba(0,0,0, 0.8); 
    text-align: center; 
    border: 0.5rem solid #fff; 
}

.book-links a { 
    color: #ac77f2; 
}

.img-book:hover + .book-links { 
    opacity: 1; 
}

.book-links:hover { 
    opacity: 1; 
}

.container-resources section:hover .img-book { 
    filter: blur(8px); 
}

/* Navbar */

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem;
}

.container-navbar section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    transition: background-color 0.3s ease-out;
}

.container-navbar section:hover {
    background-color: var(--main-color);
}

.container-navbar nav {
    display: flex;
    align-items: space-between;
}

.container-navbar ul {
    margin: 2rem; 
}

/**** MEDIA QUERY ****/

@media (min-width: 600px) {
    body {
        font-size: 1.7rem; 
    }

    header {
        padding: 15rem 10rem 10rem 10rem; 
        font-size: 1.8rem; 
        text-align: center; 
    }

    .book-links div {
        width: 30rem; 
    }
} 

@media (min-width: 1200px) {
    body {
        font-size: 2rem; 
    }

    header {
        font-size: 2.3rem; 
    }
}